<p id="notice"><%= notice %></p>

<% @expenses_total = current_user.costs.map(&:amount).sum unless current_user.costs.blank?%>

<% if @expenses_total.blank? %>
<h3>No expenses to show.</h3>
<% end %>
<% if @expenses_total.present? %>
<h2>Expenses</h2>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Category</th>
	  <th>Expense($)</th>
      <th>Comments</th>
    </tr>
  </thead>

  <tbody>
    <% @costs.each do |cost| %>
      <tr>
        
        <td><%= Category.where('id=?',cost.category_id).first.try(:name) %></td>
        <td><%= cost.amount %></td>
        <td><%= cost.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
 <% end %>
<br>

<%= link_to 'Add a Expense', new_cost_path, :class => 'btn btn-primary btn-sm' %>
