<br>
<%= form_for(@income) do |f| %>
  <% if @income.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @income.errors.full_messages.each do |message| %>
        <li style="color:red;"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Income %><b>($)<br>
    <%= f.text_field :amount %>&nbsp;</b>
  </div>
<br>
  <div class="field">
    <%= f.label :Expenditure_Limit %><b>($)<br>
    <%= f.text_field :limit %>&nbsp;</b>
  </div>
   <br>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
