<% if user_signed_in? %>
  <% if current_user.income.present? %>
  <%= link_to('Update Income', edit_income_path(current_user.income.id)) %>
  <% else %>
  <%= link_to('Update Income', new_income_path) %>
  <% end %>
<% else %>
  
  <%= link_to('Register', new_user_registration_path)  %>
  
<% end %>
