<!DOCTYPE html>
<html>
<head>
  <title>Wallet</title>
  <style>
	header {
		
		color:black;
		text-align:center;
		padding:3px;	 
		font-family:arial;
		font-style:italic;
	}
		
	footer {
		position:absolute;
		bottom:0;
		
		width:98%;
		color:black;
		clear:both;
		text-align:center;
		
		padding:5px;	 	 
	}
	</style>
	<script type="text/javascript">
		var selector, elems, makeActive;
		selector = '.nav li';
		elems = document.querySelectorAll(selector);

		makeActive = function () {
			for (var i = 0; i < elems.length; i++)
				elems[i].classList.remove('active');
				this.classList.add('active');
		};

		for (var i = 0; i < elems.length; i++)
			elems[i].addEventListener('mousedown', makeActive);
	</script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body background="http://www.backgroundlabs.com/wp-content/uploads/2013/04/brushed-metal-background-580x362.png">
<header>
<h1>Wallet</h1>
</header>

<div class="container">
<div class="masthead">
        
        <nav>
          <ul class="nav nav-justified">
            <li><a href="/">Home</a></li>
            <%if current_user %><li><a href="/costs">Expenses</a></li><%end%>
            <li><%= render 'users/menu/registration_items' %></li>
            <li><%= render 'users/menu/login_items' %></li>
          </ul>
        </nav>
      </div>
<% if current_user %>
<br><div style="width:90%;color:white;font-weight:bold">
<% @income_total = current_user.income.amount if current_user.income.present?%>
<div style="float:left;">Your Income($): <b><%= @income_total.present? ? @income_total : '0 '%></b></div>
<% @expenses_total = current_user.costs.map(&:amount).sum unless current_user.costs.blank?%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total Expenses($): <%= @expenses_total.present? ? @expenses_total : '0 '%>
<% if @expenses_total.present? %>
<div style="float:right">Savings($): <%= @income_total - @expenses_total unless @income_total.blank? || @expenses_total.blank?%></div></div>
<% end %>
<% if @expenses_total.blank? %>
<% if @income_total.present?%>
<div style="float:right">Savings($): <%= @income_total unless @income_total.blank? %></div></div>
<% else %>
<div style="float:right">Savings($): 0</div></div>
<% end %>
<% end %>
<% if current_user.income.present? && current_user.income.limit.present? && @expenses_total.present? %>
<% if @expenses_total > current_user.income.limit %>
  <div style="color:red;">Your expenses have exceeded your specified limit - <%= current_user.income.limit %></div>
<% end %>
<% end %>

<%elsif controller_name == 'home'%>
<br><br><center>
 <%= image_tag 'wallet.jpg', :style => 'border-radius: 30px 30px 30px 30px;'%><br><br>
<% end %>
<%= yield %>
</div>
<footer>
Copyright © Sai Praturi
</footer>
</body>
</html>
